
header {
    background-color: #FBFBFB;
    height: var(--height-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 18.1770vw;
    height: 7.80vh;
}


.m-menu__list{
    font-size: 1.5em;
    font-weight: 700;
    list-style: none;
    line-height: 2.25em;
    display: flex;
}


.m-menu__links{
    color: #0E0E0E;
    text-decoration: none;
    margin-right: 1.5rem;
    cursor: pointer;
}

.m-menu__links:hover{
    text-decoration: underline;
}

.menu-mobile, .m-mobile{
    display: none;
}

@media screen and (max-device-width: 780px){

    header{
        width: 100%;
    }

    #logo{
        width: 50%;
        height: auto;
    }

    .m-menu__list{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile__icon{
        background-color: transparent;
    }

    .menu-mobile button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .m-mobile__list{
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        font-size: 0.75rem;
        text-transform: uppercase;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        padding-bottom: 1rem;
    }

    .m-mobile__item{
        border-bottom:1px solid #626060;
        padding: 20px 15px;
    }

    .m-mobile__links{
        display: block;
        padding-bottom: 1.2rem;
        color: #7a7777;
    }

    .open{
        display: block;
    }

}

