
.contact {
    background-color: #f5c75a;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.contact-title{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 10rem;
}

.contact-form__item{
    list-style-type: none;
}

.contact-form__label{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    line-height: 2rem;
}

.contact-form__input{
    background-color: #FBFBFB;
    width: 17.1875vw;
    height: 3.746vh;
    border: none;
    border-radius: 4px;
}

.contact-form__btn{
    margin-top: 3.5rem;
    width: 17.1865vw;
    height: 5.160vh;
    background-color: #0E0E0E;
    border-radius: 9px;
    color: #FBFBFB;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.contact-form__btn:hover{
    transform: scale(1.1);
}

.contact-resgister{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-resgister__img{
    height: 44px;
    width: 44px;
}


.contact-dice__item{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.375rem;
    list-style-type: none;
}