header {
    background-color: #FBFBFB;
    /* width: 100%; */
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 18.1770vw;
    height: 7.80vh;
}

.m-menu{
    right: 20rem;
    top: 2.5rem;
}

.m-menu__list{
    font-size: 1.5em;
    font-weight: 700;
    list-style: none;
    line-height: 2.25em;
    display: flex;
}


.m-menu__links{
    color: #0E0E0E;
    text-decoration: none;
    display: block;
    padding: 1.5rem;
}

a:hover{
    text-decoration: underline;
}

.menu-mobile, .m-mobile{
    display: none;
}

@media screen and (max-device-width: 480px){

    #logo{
        width: 50%;
        height: 9vh;
    }

    .m-menu__list{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .m-mobile__list{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .m-mobile__links{
        display: block;
        padding-bottom: 1.2rem;
    }

    .open{
        display: block;
    }

}

