*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FBFBFB;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.links-header{
    list-style: none;
    display: inline-block;
    margin: 0 3.2em;
    text-decoration: none;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.links-header > a{
    color: #0E0E0E;
}

.links-header:active{
    color: #0E0E0E;
    text-decoration: underline;
}

main{
    height: auto; 
    display: flex;
    flex-direction: column;
}

main section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url(./midias/background-home.png);
    background-color: #F6C34A;
    color: #0E0E0E;
    font-family:'Poppins', sans-serif;
    font-style: normal; 
    text-align: center; 
}

h1.primeiro-bloco{
    font-weight: 700;
    font-size: 45px;
    line-height: 90px;
}

p.primeiro-bloco{
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
}

button{
    background-color: #0E0E0E;
    width: 25%;
    height: 15%;
    margin-top: 2.5em;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

button > a{
    color: #FBFBFB;
}

button:active{
    background-color: #FBFBFB;
    color: #0E0E0E;
}

button:active > a{
    color: #0E0E0E;
}

main section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E0E0E;
    color: white;
    height: 52vh;
    margin-bottom: -2em;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
}

main section:nth-child(2) > p{
    color: #FBFBFB;
    text-align: justify;
    padding: 2em 12em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
}

main section:nth-child(3){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
    background-color: #0E0E0E;
    color: white;
    height: 85vh;
    padding: 0 9em;
}

main section:nth-child(3)>h2{
    grid-column: 1/5;
    grid-row: 1/2;
    justify-self: center;
    margin-top: 2em;
    /* padding: 0 10em; */
}

.depoimentos{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding: 2em 1em;
}
     
#depoimento1{
    width: 98%;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 2%;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;
    text-align: left;
}

#depoimento2{
    width: 98%;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 2%;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;
    text-align: left;
}

#depoimento3{
    width: 98%;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 2%;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;
    text-align: left;
}

#depoimento4{
    width: 98%;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 2%;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;
    text-align: left;
} 

.whatsapp{
    position: fixed;
    float: right;
    right: 2.5em;
    top: 35em;

}

footer{
    background-color: #F6C34A;
    height: fit-content;
    padding: 1.5em 9em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: ; 
}

.logo-footer{
    width: 100%;
}

.titulos{
    color: #0E0E0E;
    margin: 1.5em 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

#endereco{
    color: #0E0E0E;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

#lista-links-footer{
    list-style: none;
    text-decoration: none;
    color: #0E0E0E;
}

.links-footer{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: #0E0E0E;
    margin-bottom: 1.5em;
}

.links-footer>a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: #0E0E0E;
} /* precisa ter essa parte para formatar os ícones que são links, porque elas não são formatados com .links-footer */

.links-footer>a:active{
    text-decoration: underline;
}

#redes-sociais{
    list-style: none;
    display: flex;
    gap: 1em;
}

#areas-internas{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: #0E0E0E;
    margin-bottom: 1.5em;
}
