*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FBFBFB;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo{
    height: 4em;
}

#btn-burger{
    display: none;
} 

.links-header{
    list-style: none;
    display: inline-block;
    margin: 0 3.2em;
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 3em;
}

.links-header > a{
    color: #0E0E0E;
    text-decoration: none;
}

.links-header:active{
    text-decoration: underline;
}

main{
    height: auto; 
    display: flex;
    flex-direction: column;
    background-color: #0E0E0E;
}

#first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(./midias/background-home.svg);
    background-color: #F6C34A;
    color: #0E0E0E;
    font-family:'Poppins', sans-serif;
    font-style: normal; 
    text-align: center; 
}

h1.first-section-text{
    font-weight: 700;
    font-size: 2.7em;
    line-height: 2em;
    margin-top: 2em;
}

p.first-section-text{
    font-weight: 400;
    font-size: 1.9em;
    line-height: 2em;
    padding-bottom: 1.3em;
}

button{
    background-color: #0E0E0E;
    width: 18em;
    height: 4em;
    margin: 2.5em 0 3em 0;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 3em;
}

button > a{
    color: #FBFBFB;
}

button:active{
    background-color: #FBFBFB;
}

button:active > a{
    color: #0E0E0E;
}

#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2em 0 2em 0;
}

h2{
    color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5em;
    padding: 1em 0 .5em 0;
}

#about-us > p{
    color: #FBFBFB;
    text-align: justify;
    padding: 1.5em 10em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
}


#opnions-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: space-evenly;
    height: auto;
    padding: 0 4em 4em 4em;    
}

#opnions-block>h2{
    width: 100%;
    text-align: center;
    padding-bottom: 1.5em;
}

.opnions-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .85em;
    line-height: 1.9em;
    padding: 2em .4em;
}
     
#op1, #op2, #op3, #op4{
    width: 20em;
    height: 25em;
    background-color: #FBFBFB;
    border-radius: 2%;
    padding: 1.3em 1em 0 1em;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em 0;
    text-align: left;
}

.whatsapp{
    position: fixed;
    float: right;
    right: 1.4em;
    top: 33em;
}

footer{
    height: auto;
    background-color: #F6C34A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 9em;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-footer{
    width: 100%;
}

.titles{
    color: #0E0E0E;
    margin: 1.5em 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1em;
}

#map-adress{
    margin-bottom: -.4em;
}

#list-links-footer, #areas-internas{
    display: flex;
    flex-direction: column;
}

.text-footer{
    text-decoration: none;
    color: #0E0E0E;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .87em;
    line-height: 2.7em;
    text-decoration: none;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 1.4em;
}

@media screen and (min-width : 481px) and (max-width : 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header{
        height: 16vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-top: 5em;
    }

    #logo{
        display: block;
        width: 10em;
        height: 8em;
        position: absolute;
        top: -2em;
        left: 1em;
    }

    .whatsapp{
        position: fixed;
        float: right;
        scale: .8;
        right: 1.2em;
        top: 44em;
    }

    #menu{
        display: none;
        height: 10em;
        margin: 0;
    }

    #btn-burger{
        display: block;
        position: absolute;
        top: 1em;
        left: 70%;
    } 

    #nav.active #menu{
        height: 7em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 4em;
        left: 10em;
    }   

    .links-header > a{
       margin: -11em;
    } 

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }    

    .first-section-text, #btn-go-to-course{
        scale: .9;
    }

    #about-us>p{
        padding: 2em 2.5em;
    }
    
    #opnions-block{
        scale: .9;
        gap: 1.5em;
    }

    #menu-adm{
        width: 100%;
        height: 12vh;
    }

    #aside-list{
        display: inline-block;
    }

    .aside-links{
        line-height: 1em;
        display: inline-block;
        padding: 0 1em 0 1em;
        margin-top: -2em;
    }

    footer{
        padding-left: 2.5em;
        padding-right: 2.5em;
        display: grid;
        grid-template-rows: 2.5em 1fr .5fr .5fr;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3em;
        justify-items: center ;
    }

    .logo-footer{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #adress{
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #map-adress{
        width: 25em;
    }

    #footer-menu{
        grid-row: 3/5;
        grid-column: 1/2;   
        justify-self: end;
    }

    #redes-sociais{
        grid-row: 3/4;
        grid-column: 2/3;
        justify-self: start;
    }

    #adm-links{
        grid-row: 4/5;
        grid-column: 2/3;
        justify-self: start;
    }
}