.menu-list{
    display: flex;
    border-bottom: 2px solid #0E0E0E;
}

main{
    width: 100%;
    
}

.menu-list__courses{
    background-color:#0E0E0E;
    display: flex;
    flex-direction: column;
    width: 20.20vw;
    height: 80.95vh;
}

.menu-list__item{
    text-align: center;
    padding: 3.75rem 0 2.563rem;
    
}

.menu-list__link{
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-decoration: none;   
}

.menu-list__link:hover{
    text-decoration: none;
    color: #fff; 
}