* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display:flex;
    justify-content:left;
    text-decoration: none; 
   
}
header ul{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: larger;
    width: auto;
}

#fundotitulo {
    background-color: #F6C34A;    
}

#fundosobre {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 929px;

    background: #0E0E0E;
}

#conheça {
    background-color: #0E0E0E;
    color: #FBFBFB;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 450px;
    height: 79px;
    left: 735px;
    top: 629px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 76px;
    border-radius: 10px
}

#aprenda {
    position: absolute;
    width: 832px;
    height: 51px;
    left: 544px;
    top: 463px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
}

header a {
    text-align: center;
    border-bottom: 1px solid black;
    height: 10vh;
}

header li :hover {
    color:#999;
}

button {
    position: fixed;
    right: 50px;
    bottom: 40px;
    right: 50px;
    background-color: transparent;
    border: none;
}

#titulo {
    position: absolute;
    width: 760px;
    height: 90px;
    left: 580px;
    top: 372px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #0E0E0E;
}

#sobre {
    position: absolute;
    width: 206px;
    height: 60px;
    left: 857px;
    top: 1008px;
   
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    
    color: #FBFBFB;
}

#sobre1 {
    position: absolute;
    width: 1095px;
    height: 144px;
    left: 412px;
    top: 1112px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #FBFBFB;
}

ul {
    list-style: none;
    display: inline-block;
    height: 10vh;
    width: 15vw;
    margin-left: 5em;
    text-align: center;
    padding: 20px;
}

#dep1 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 255px;
    top: 1535px;

    background: #FBFBFB;
    border-radius: 10px;
}

#dep2 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 615px;
    top: 1535px;

    background: #FBFBFB;
    border-radius: 10px;
}

#dep3 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 975px;
    top: 1535px;

    background: #FBFBFB;
    border-radius: 10px;
}

#dep4 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 1335px;
    top: 1535px;

    background: #FBFBFB;
    border-radius: 10px;
}

