* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9BB4E;
    width: 100vw;
    height: 100%;
}

/* HEADER ----------------------------------------------------- */

header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

nav {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    color: #0E0E0E;

}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2em;

}

li {
    list-style: none;
}

.txt-li {
    color: #0E0E0E;
}

.container-logo-header {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: start;
    align-items: center;
}

/* MAIN--------------------------------------- */

main {
    width: 100vw;
    height: 80vh;
    background-color: #0E0E0E;
    border-bottom: 1.5px solid black;
}

#whats {
    position: fixed;
    width: 65px;
    height: 65px;
    right: 20px;
    top: 75vh;
    z-index: 999;
}

/* CONTAINER--------------------------------------- */
#container{
    display: flex;
    height: 100%;
    width: 100%;
    
}

/* BLOCO1--------------------------------------- */

#bloco1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: #0E0E0E;
}

.bloco1-menu{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#bloco1 ul a{
    font-family: 'Poppins';
    line-height: 5rem;
    font-size: 1.1rem;
    color: #FFFFFF;
    text-decoration: none;
}

/* BLOCO2--------------------------------------- */

#bloco2{
    height: 100%;
    width: 80%;
    background-color: #E9BB4E;
}

#bloco2-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.bloco2-buscar{
    border-radius: 5px;
    border: none;
    width: 33%;
    height: 35%;
}

.bloco2-btn-buscar{
    width: 10%;
    height: 35%;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0E0E0E;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}

#bloco2-container2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
}

#bloco2-container2-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 3%;
    width: 90%;
    height: 100%;
}

#bloco2-container2-cards article{
    height: 45%;
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 9px;
}

.bloco2-item-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bloco2-titulo{
    margin-top: 2%;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 700;

}

.bloco2-item-card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
}

.bloco2-item-card li{
    font-size: 0.9rem;
    font-family: sans-serif;
    margin-bottom: 5%;
}






/* FOOTER----------------------------------------------------- */
footer{
    display: flex;
    background-color: #E9BB4E;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
}

footer ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    color: #0E0E0E;

}

.footer-logo{
    display: flex;
    height: 25%;
    width: 100%;
    padding: 2%;
}

#bloco4-footer{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    padding: 0 2.5%;
}

#bloco4-titulo4{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    color: #0E0E0E;
    margin-bottom: 5%;

}
.bloco4-endereco{
    width: 30%;
}

iframe{
    height: 65%;
    width: 100%;
    margin-bottom: 2%;
}

.bloco4-map-end{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    color: #0E0E0E;  
}

.bloco4-links{
    display: flex;
    flex-direction: column;
}


.bloco4-medias{
    display: flex;
    flex-direction: column;
    /* width: 20%;    */
}

.bloco4-medias section{
    width: 100%;
}

.bloco4-medias ul{
    display: flex;
    justify-content: space-between;

}

.bloco4-links, .bloco4-medias, .bloco4-rest{
    width: 20%;
    padding-left: 5%;
}