 @media screen and (max-device-width : 480px) {
        
    
    .conheça{
        height: 3vh;
        padding:1%;

    }

    .depo{
        flex-direction: column;        
        align-items: center;
                
    }

    .depo li{
        padding: 2%;
    }
}