* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.wats {
    position: fixed;
    bottom: 4px;
    right: 5px;
    background-color: transparent;
    border: none;
    z-index: 1;
    padding: 2%;
}

.wats img {
    width: 5vw;
}

header {
    padding: .7% 0;
    height: 15vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
}

.logo img{
    width: 110%;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 6% 0;
    text-decoration-line: none;
}

.home {
    text-decoration-line: none;
    color: black;
}

.home:hover {
    color: black;
    text-decoration-line: underline;
}

.home:active {
    color: blue
}

.curso {
    text-decoration-line: none;
    color: black;
}

.curso:hover {
    color: black;
    text-decoration-line: underline;
}

.curso:active {
    color: blue
}

.contato {
    text-decoration-line: none;
    color: black;
}

.contato:hover {
    color: black;
    text-decoration-line: underline;
}

.contato:active {
    color: blue
}

.areaADM {
    text-decoration-line: none;
    color: black;
}

.areaADM:hover {
    color: black;
    text-decoration-line: underline;
}

.areaADM:active {
    color: blue
}

main {
    background-color: black;
}

.fundotitulo {
    width: 99vw;
    height: 75vh;
    background-color: #F6C34A;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(/imagens/background-hero.png)
}

.titulo {
    grid-column: 3/9;
    grid-row: 4/4;
    font-size: 32px;
    text-align: center;
}

.aprenda {
    grid-column: 3/9;
    grid-row: 5;
    font-size: 21px;
    text-align: center;
}

.conheça {
    grid-row: 7;
    grid-column: 5/7;
    background-color: black;
    color: white;
    text-decoration-line: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 4% 5%;
    text-align: center;
}

.fundosobre {
    display: flex;
    flex-direction: column;
    padding: 0 20%
}

.sobre {
    padding: 8% 0;
    text-align: center;
    color: white;
}

.textosobre {
    text-align: start;
    line-height: 150%;
    color: white;   
}

.depo {
    display: flex;
    padding:  1% 15%;
    gap: 2%;
}

.titulo-depo {
    color: white;
    text-align: center;
    padding: 2% 0;
}

.dep1 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep1 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep1 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep2 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep2 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep2 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep3 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep3 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep3 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep4 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep4 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep4 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

footer {
    display: grid;
    height: 80vh;
    background-color: #F6C34A;
    padding: 2% 0;
}

.logo-footer img {
    width: 35%;
    padding: 0 10%;
}

.footer1 {
    display: flex;
    gap: 8%;
    padding: 0 10%;
    font-size: 80%;
}

.map {
    list-style: none;

}

.links {
    list-style: none;
}

.sociais {
    list-style: none;
}

.twiter img {
    width: 20%;
}

.linkedin img {
    width: 20%;
}

.face img {
    width: 20%
}

.insta img {
    width: 20%
}

.restrita {
    list-style: none;
}