* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.wats {
    position: fixed;
    bottom: 4px;
    right: 5px;
    background-color: transparent;
    border: none;   
    padding: 2%;
}

.wats img {
    width: 5vw;
}

a{
    color:black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    text-decoration: underline;    
}
#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
#menu{
    display: flex;
    list-style: none;
    gap: 5rem;    
    background-color: white;
}
#menu a {
    display: block;
    padding: .5rem;    
}

#btn-menu{
    display: none;
}

main {
    background-color: black;
}

.fundotitulo {
    width: 100%;
    height: 75vh;
    background-color: #F6C34A;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(/imagens/background-hero.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    grid-column: 3/9;
    grid-row: 4/4;
    font-size: 32px;
    text-align: center;
}

.aprenda {
    grid-column: 3/9;
    grid-row: 5;
    font-size: 21px;
    text-align: center;
}

.conheça {
    grid-row: 7;
    grid-column: 5/7;
    background-color: black;
    color: white;
    text-decoration-line: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 4% 5%;
    text-align: center;
}

.fundosobre {
    display: flex;
    flex-direction: column;
    padding: 0 20%
}

.sobre {
    padding: 8% 0;
    text-align: center;
    color: white;
}

.textosobre {
    text-align: start;
    line-height: 150%;
    color: white;
}

.depo {
    display: flex;
    padding: 1% 15%;
    gap: 2%;
}

.titulo-depo {
    color: white;
    text-align: center;
    padding: 2% 0;
}

.dep1 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep1 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep1 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep2 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep2 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep2 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep3 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep3 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep3 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

.dep4 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2% 2%;
    width: 20vw;
    list-style: none;
}

.dep4 img {
    width: 7vw;
    padding-bottom: 20%;
}

.dep4 p {
    text-align: left;
    line-height: 120%;
    font-size: 70%;
}

footer {
    display: grid;
    height: 65vh;
    background-color: #F6C34A;
    padding: 2% 0;
}

.logo-footer img {
    width: 35%;
    padding: 0 10%;
}

.footer1 {
    display: flex;
    gap: 11%;
    padding: 0 10%;
    font-size: 80%;
}

.map {
    list-style: none;
}

iframe {
    border-radius: 5px;
    border: 1px solid black;
    width: 23vw;
    height: 30vh;
}

.links {
    list-style: none;
}

#titulo-footer {
    font-size: 1.2rem;
}

.links-footer {
    text-decoration-line: none;
    color: black;
    font-size: 0.9rem;
}

.sociais {
    list-style: none;
    
}

.twiter img {
    width: 23%;
    text-decoration: none;
}

.linkedin img {
    width: 23%;
    text-decoration: none;
}

.face img {
    width: 23%;
    text-decoration: none;
}

.insta img {
    width: 23%;
    text-decoration: none;
}

.restrita {
    list-style: none;
}


