* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9BB4E;
    display: grid;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    margin: 0 auto;

}

nav {
    flex-direction: row;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
     line-height: 2rem;
    text-decoration-line: underline;
    color: #0E0E0E;

}

ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 5vh;
    flex-direction: row;
    align-items: baseline;
    gap: 2em;
    
}

li {
    list-style: none;
}

.txt-li {
    color: #0E0E0E;
}

#logo {
    display: flex;
    width: 100%;
}


#back {
    position: absolute;
    width: 100vw;
    height: 71vh;
    top: 20%;
    background-color: #E9BB4E;
}

#whatss {
    position: fixed;
    width: 82px;
    height: 83px;
    right: 20px;
    top: 75vh;
    z-index: 999;
}


.bloco1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 2fr);

} 

/* .bloco1 section{
    display: grid;
} */

.div-sec-bloc1{
    align-self: center;
    padding-left: 10%;
    grid-column: 3/8;
    grid-row: 1/3;
}

.div-sec-bloc2{
    align-self: center;
    padding-left: 10%;
    grid-column: 3/8;
    grid-row: 3/5;
}

.titulo-home {
    height: 10;
    position: absolute;
    width: 50%;
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-size: 3em;
    line-height: 5rem;
    color: #0E0E0E;
}

.frase-home {
    /* display: flex; */
    position: relative; 
    height: 10vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    font-size: 1.5em;
    /* line-height: 10rem; */
    color: #0E0E0E;
}
 .btn-conheca{
    align-self: center;
    padding-left: 25%;
    grid-column: 4/7;
    grid-row: 5/6;

} 
.bt-cursos {
    position: relative;
    width: 25vw;
    height: 10vh;
    background: #0E0E0E;
    border-radius: 9px;

}

.frase-bt {
    align-self: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 1.8em;
    text-decoration: none;
    font-weight: 700;
}

.sobre-nos-back {
    /* position: absolute; */
    display: grid;
    width: 100vw;
    height: 125vh;
    top: 90%;
    background: #0E0E0E;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
}

.titulo-sobre-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 14vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7em;
    line-height: 1rem;
    color: #FBFBFB;
}

.sobre-nos-back p{
    grid-column: 1/2;
    grid-row: 1/2;
}

.txt-sobre-nos {
    position: absolute;
    text-align: left;
    width: 60vw;
    height: 20%;
    left: 25%;
    top: 8rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.5rem;
    color: #FBFBFB;
}

 .depoimentos {
    position: absolute;
    top: 145%;
    height: 70vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    text-align: start;
    
} 

 .titulo-depoimmentos {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1em;
    color: #FBFBFB;
} 

/*   .cards {
    display: grid;
    width: 80vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    
    
} */ 


  .card-1 {
    position: relative;
    width: 23vw;
    height: 60vh;
    background: #FBFBFB;
    border-radius: 10px;
} 

div .cards p {
    position: absolute;
    padding: 0 5%;
    top: 40%;
    width: 100%;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #0E0E0E;
}

/* .card-2 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 415px;
    top: 1100px;
    background: #FBFBFB;
    border-radius: 10px;
}

.card-3 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 775px;
    top: 1100px;
    background: #FBFBFB;
    border-radius: 10px;
}

.card-4 {
    position: absolute;
    width: 330px;
    height: 372px;
    left: 1135px;
    top: 1100px;
    background: #FBFBFB;
    border-radius: 10px;
}

 */

 .foto_depo {
    position: absolute;
    right: 31%;
    top: 7%;
} 

/* section p {
    position: absolute;
    width: 100%;
    height: 10px;
    left: 8px;
    top: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
} */
 
footer {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #E9BB4E;
    top: 1700px;
}

.logo-foot {
    position: relative;
    left: 55px;
    top: -90px;
}