* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
}
.menu-direto {
    background-color: black;
    padding: 1% 5% 0% 5%;
}
.menu-adm {
    display: flex;
    flex-direction: column;
   /*  text-align: start; */
    list-style: none;
    padding: 50% 0;
    gap: 50px;
}
.turma {
    color: white;
    text-decoration-line: none;
}
.matricula {
    color: white;
    text-decoration-line: none;
}
.finan {
    color: white;
    text-decoration-line: none;
    
}
.area-matricula {
    background-color: #F6C34A;
    width: 79.7%;   
    border-bottom: 1px solid black;   
    height: 90vh;
    padding: 5% 1%;
    display: flex;
    gap: 10%;
}
.matricula-titulo{
    display: flex;
    right: 50%;
    padding: 0 0 3% 0;
    font-size: 1.4rem;
}
.formulario{    
    display: flex;
    flex-direction: column;    
    padding: 1rem 5rem;
    font-size: 0.9rem; 
    gap: 1%;  
}
.area-digitavel{
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    border: none;
    padding: 1rem;
}
.botao-matricula{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 20vw;
    height: 5vh;
}

#novo-aluno{
    display: flex;
    flex-direction: column;
    gap: 8%;
}

#novo-aluno img{
    width: 15%; 
}

.matriculado{
    display: flex;
}

.matriculado-inf {
    line-height: 150%;
}
