* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


main {
    display: flex;
}

.menu-direto {
    background-color: black;
    padding: 1% 5% 0% 5%;
}

.menu-adm {
    display: flex;
    flex-direction: column;  
    list-style: none;
    padding: 50% 0;
    gap: 50px;
}

.turma {
    color: white;
    text-decoration-line: none;
}

.matricula {
    color: white;
    text-decoration-line: none;
}

.finan {
    color: white;
    text-decoration-line: none;
    
}

.area-matricula {
    background-color: #F6C34A;
    width: 79.7%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2 fr;
    border-bottom: 1px solid black;   
    height: 90vh;
    padding: 5% 1%;
}

.matricula-titulo{
    display: flex;
    right: 50%;
    padding: 0 0 3% 0;
    font-size: 1.4rem;
}

.formulario{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding: 0% 15%;
    font-size: 0.9rem; 
    gap: 5px;    
}

.area-digitavel{
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    border: none;
}

.botao-matricula{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

.novo-aluno{
    position: absolute;
    top: 25%;
    right: 5%;
    padding: 0 12% 0 0;
}

.aluno-novo{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    list-style: none;
    /* justify-content: end; */
    align-items: flex-start;
    line-height: 150%;
}

.aluno-novo h1{
    line-height: 350%;
}

.aluno-novo img{
    width: 13%;
       
}
