* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: .7% 0;
    height: 15vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
}

.logo img {
    width: 110%;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 6% 0;
    text-decoration-line: none;
}

.home {
    text-decoration-line: none;
    color: black;
}

.home:hover {
    color: black;
    text-decoration-line: underline;
}

.home:active {
    color: blue
}

.curso {
    text-decoration-line: none;
    color: black;
}

.curso:hover {
    color: black;
    text-decoration-line: underline;
}

.curso:active {
    color: blue
}

.contato {
    text-decoration-line: none;
    color: black;
}

.contato:hover {
    color: black;
    text-decoration-line: underline;
}

.contato:active {
    color: blue
}

.areaADM {
    text-decoration-line: none;
    color: black;
}

.areaADM:hover {
    color: black;
    text-decoration-line: underline;
}

.areaADM:active {
    color: blue
}

main {
    display: flex;
}

.menu-direto {
    background-color: black;
    padding: 1% 5% 0% 5%;
}

.menu-adm {
    display: flex;
    flex-direction: column;
   /*  text-align: start; */
    list-style: none;
    padding: 50% 0;
    gap: 50px;
}

.turma {
    color: white;
    text-decoration-line: none;
}

.matricula {
    color: white;
    text-decoration-line: none;
}

.finan {
    color: white;
    text-decoration-line: none;
    
}

.area-matricula {
    background-color: #F6C34A;
    width: 79.7%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2 fr;
    border-bottom: 1px solid black;
    /* justify-content: space-around;
    flex-wrap: wrap; */
    height: 90vh;
    padding: 5% 1%;
}

.matricula-titulo{
    display: flex;
    right: 50%;
    padding: 0 0 3% 0;
    font-size: 1.4rem;
}

.formulario{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding: 0% 15%;
    font-size: 0.9rem; 
    gap: 5px;    
}

.area-digitavel{
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    border: none;
}

.botao-matricula{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

.novo-aluno{
    position: absolute;
    top: 25%;
    right: 5%;
    padding: 0 12% 0 0;
}

.aluno-novo{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    list-style: none;
    /* justify-content: end; */
    align-items: flex-start;
    line-height: 150%;
}

.aluno-novo h1{
    line-height: 350%;
}

.aluno-novo img{
    width: 13%;
       
}

footer {
    display: grid;
    height: 65vh;
    background-color: #F6C34A;
    padding: 2% 0;    
}

.logo-footer img {
    width: 35%;
    padding: 0 10%;
}

.footer1 {
    display: flex;
    gap: 11%;
    padding: 0 10%;
    font-size: 80%;
}

.map {
    list-style: none;
}

iframe{
    border-radius: 5px;
    border: 1px solid black;
    width: 23vw;
    height: 30vh;
}

.links {
    list-style: none;       
}

#titulo-footer{
    font-size: 1.2rem;
}

.links-footer{
    text-decoration-line: none;
    color: black;
    font-size: 0.9rem;   
}

.sociais {
    list-style: none;    
}

.twiter img {
    width: 23%;
}

.linkedin img {
    width: 23%;
    
}

.face img {
    width: 23%
}

.insta img {
    width: 23%
}

.restrita {
    list-style: none;
}
