* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
}

.menu-direto {
    background-color: black;
    padding: 1% 5% 0% 5%;
}

.menu-adm {
    display: flex;
    flex-direction: column;   
    list-style: none;
    padding: 50% 0;
    gap: 50px;
}

.turma {
    color: white;
    text-decoration-line: none;
}

.matricula {
    color: white;
    text-decoration-line: none;
}

.finan {
    color: white;
    text-decoration-line: none;
    
}

.area-turmas {
    background-color: #F6C34A;
    width: 79.7%;
    display: flex;
    border-bottom: 1px solid black;

}

.turmas {
    display: flex;
    flex-wrap: wrap;  
    gap: 25px;
    padding: 10% 5%;
}

.titulos-turma {
    padding: 1% 35%;
    line-height: 300%;
}

.text-turma {
    font-size: 0.75rem;
    width: 14vw;
    padding: 5% 15%;
    line-height: 165%;
}

.botao-buscar{
    padding: 5%;
}

.area-buscar{
    position: absolute;
    right: 30%;
    bottom: 72%;
}

.buscar {
    background-color: black;
    color: white;
    position: absolute;
    right: 24.5%;
    bottom: 72%;
    padding: 0.9%;
}

.Hipátia {
    background-color: white;
    border-radius: 10px;
    list-style: none;

}

.Sibyla {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Curie {
    flex-grow: 0;
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Zhenyi {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Clarke {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Blackwell {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Elion {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

.Burnell {
    background-color: white;
    border-radius: 10px;
    list-style: none;
}

