*{
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    height: 15vh;
    padding: 20px;


}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {
    width: 250px;
    padding: 0 22vh;

}


.menu {
    padding: 20px;
    font-size: 20px;
    font-style: bold;
    font-family: "Poppins";
    text-decoration: none;
    color: black;
    
}

.menu:hover{
    padding: 20px;
    font-size: 20px;
    font-style: bold;
    font-family: "Poppins";
    text-decoration: none;
    color: orange;
    
}

footer {
    background-color: rgb(253, 192, 79);
    height: 55vh;
    padding: 4vh 20vh;

}

.containerFooter {
    display: flex;
    padding-top: 30px;

}

.containerFooter2 {
    width: 190vh;
    justify-content: space-around;
    align-items: flex-start;

}



tr {
    text-align: left;

}

td {
    vertical-align: top;
    padding-top: 27px;
}

ul {
    list-style: none;

}

iframe {
    padding-bottom: 10px;
}

.whatsapp {
    position: fixed;
    
    bottom: 20px;
    right: 20px;
    width: 60px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    padding-top: 10px;
    font-family: "Open Sans";
    list-style: none;
}

th{
    font-family: "Poppins";
    font-size: 20px;
}

.imgcomunicacoes {
    padding-right: 10px;
}

main{
    height: 100vh;
    background-color: black;
    display: flex;
    background-color: rgb(253, 192, 79);
    border-bottom: 1px solid black;
 
    
}

.navMain{
    
    padding-top: 5vh ;
    background-color: white;
    height: 100;
    font-size: 12px;
    padding-right: 5vh;
    padding-left: 9vh;
    background-color: black;
    width: 30vh;
    
    
    
}

#menuMain{
    padding-top: 5vh;
    color: #707070;
    font-family: "Poppins";
    text-align: left;
    width: 30vh;
    padding-bottom: 10px;
    
     
}

#menuMainMat{
    padding-top: 5vh;
    color: white;
    font-family: "Poppins";
    text-align: left;
    width: 30vh;
    padding-bottom: 10px;
    
}

#menuMain:hover{
    padding-top: 5vh;
    color: white;
}

.formMain{
    display: flex;
    flex-direction: column;
    padding-left: 20vh;
    padding-top: 6vh;
        
}



.h1Nav{
    padding-bottom: 5vh;
    font-family: "Poppins";
    }


#menuMain:hover{
    padding-top: 5vh;
    color: white;
}


.formMain{
    display: flex;
    flex-direction: column;
    
    padding-left: 12vw;
    padding-top: 6vh;
        
}



.h1Nav{
    padding-bottom: 5vh;
    font-family: "Poppins";
    }

input{
    height: 3.5vh;
    border: 0px solid white;
    border-radius: 2px;
    width: 21vw ;
    padding-left: 1vh;
 }

 label{
    padding-top: 2vh;
    font-family: "Poppins";
    font-size: 15px;
 }

 .botao{
    color: white;
    background-color: black;
    font-family: "Poppins";
    height: 5vh;
    text-align: center;
    border-radius: 6px;
    align-items: center;
    padding-top: 1vh;
    font-size: 15px;
    
 }

 .sectionContainer{
    display: flex;
    
 }

.matriculado{
    padding-left: 30vh;
    padding-top: 7vh;
    font-size: 18px;
    
}



.imagemOk{
    width: 4vh;
    padding-left: 10px;

   }

h1{
    padding-bottom: 5vh;
    font-family: "Poppins";
    }

