* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

nav {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    color: #0E0E0E;

}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2em;

}

li {
    list-style: none;
}

.txt-li {
    color: #0E0E0E;
}

.container-logo-header {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#whats {
    position: fixed;
    width: 65px;
    height: 65px;
    right: 20px;
    top: 75vh;
    z-index: 999;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background-color: #0E0E0E;
}

#container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: 25vw;
    height: 65vh;
    border-radius: 9px;
}

.interno{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
} 

.titulo{
    display: flex;
    padding: 10% 15%;
    align-items: center;
    height: 10%;
    width: 100%;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 700;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

form div{
    margin-bottom: 8%;
}

form label{
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 700;
}

form input, form textarea{
    width: 100%;
    border-radius: 9px;
    border: 2px solid black;
}

form input[type=text]{
    height: 70%;
}


form input[type=submit]{
    background-color: #E9BB4E;
    border: none;
    width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 3px;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}

footer{
    display: flex;
    background-color: #E9BB4E;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
}

footer ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    color: #0E0E0E;

}

.footer-logo{
    display: flex;
    height: 25%;
    width: 100%;
    padding: 2%;
}

#bloco4-footer{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    padding: 0 2.5%;
}

#bloco4-titulo4{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    color: #0E0E0E;
    margin-bottom: 5%;

}
.bloco4-endereco{
    width: 30%;
}

iframe{
    height: 65%;
    width: 100%;
    margin-bottom: 2%;
}

.bloco4-map-end{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    color: #0E0E0E;  
}

.bloco4-links{
    display: flex;
    flex-direction: column;
}


.bloco4-medias{
    display: flex;
    flex-direction: column;
    /* width: 20%;    */
}

.bloco4-medias section{
    width: 100%;
}

.bloco4-medias ul{
    display: flex;
    justify-content: space-between;

}

.bloco4-links, .bloco4-medias, .bloco4-rest{
    width: 20%;
    padding-left: 5%;
}















