* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.wats {
    position: fixed;
    bottom: 4px;
    right: 5px;
    background-color: transparent;
    border: none;
    z-index: 1;
    padding: 2%;
}

.wats img {
    width: 5vw;
}

header {
    padding: .7% 0;
    height: 15vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
}

.logo img {
    width: 110%;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 6% 0;
    text-decoration-line: none;
}

.home {
    text-decoration-line: none;
    color: black;
}

.home:hover {
    color: black;
    text-decoration-line: underline;
}

.home:active {
    color: blue
}

.curso {
    text-decoration-line: none;
    color: black;
}

.curso:hover {
    color: black;
    text-decoration-line: underline;
}

.curso:active {
    color: blue
}

.contato {
    text-decoration-line: none;
    color: black;
}

.contato:hover {
    color: black;
    text-decoration-line: underline;
}

.contato:active {
    color: blue
}

.areaADM {
    text-decoration-line: none;
    color: black;
}

.areaADM:hover {
    color: black;
    text-decoration-line: underline;
}

.areaADM:active {
    color: blue
}

.principal-cursos{ 
    background-color:#F6C34A;
    text-align: center;
    padding: 8% 12% 0 12%;
}

.cursos {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);   
    gap: 7%;  
    row-gap: 1%;
    justify-content: center; 
}

.html {  
    grid-column: 1;
    grid-row: 1;     
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 5%;   
}

.titulo-html{
    padding: 5% 0 15% 0
}

.text-html{
    text-align: left;
    padding: 5%;
    font-size: 1rem;
    
}

.js {
    grid-column: 2;
    grid-row: 1;   
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 2%;
}

.titulo-js{
    padding: 5% 0 13% 0
}

.text-js{
    text-align: left;
    padding: 7%;
    font-size: 1rem;
}

.api {
    grid-column: 3;
    grid-row: 1;    
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 2%;
}

.titulo-api{
    padding: 5% 0 13% 0
}

.text-api{
    text-align: left;
    padding: 7%;
    font-size: 1rem;
}

.quero { 
    grid-column: 1/4;
    grid-row: 2;
    justify-self: center;
    align-self: center;     
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 10px;
    list-style: none;
    width: 25vw;
    font-size: 1.2rem;
}

.descricao-cursos{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding: 10% 0; 
    gap: 5%;
}

.descricao-html{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 2.4%;
    width: 55vw;
}

.descricao-js{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 2.4%;
    width: 55vw;
}

.descricao-api{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: white;
    border-radius: 10px;
    list-style: none;
    padding: 2.4%;
    width: 55vw;
}

.descricao-cursos h2{
    padding: 1% 0 3% 0;
}
.descricao-cursos p{
    padding: 1% 0 3% 0;
}

footer {
    display: grid;
    height: 80vh;
    background-color: #F6C34A;
    padding: 2% 0;
}

.logo-footer img {
    width: 35%;
    padding: 0 10%;
}

.footer1 {
    display: flex;
    gap: 8%;
    padding: 0 10%;
    font-size: 80%;
}

.map {
    list-style: none;

}

.links {
    list-style: none;
}

.sociais {
    list-style: none;
}

.twiter img {
    width: 20%;
}

.linkedin img {
    width: 20%;
}

.face img {
    width: 20%
}

.insta img {
    width: 20%
}

.restrita {
    list-style: none;
}