*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

:root{
    --corDestaque: #F6C34A;
}

/* Trabalhando no header com flexbox */
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}

.controles{
    display: flex;
    gap: 1em;
    margin-left: 20em;
    font-weight: 600;
    
}

.logo{
    max-width: 100%;
    margin-left: 1em;
}

.controles a{
    text-decoration: none;
    color: #0E0E0E;
    width: 7vw;
}

.controles a::after{
    content: '';
    display: block;
    height: 0.55vh;
    width: 0;
    background: #00949C;
    transition: all .5s;

}

.controles a:hover::after{
    width: 100%;
}

/* Estilizando a Main */
main{
    width: 100%;
    background-image: url('/LabEscola/background-hero.png');
    background-color: var(--corDestaque);
}

/* bloco 1 */
.bloco1{
    width: 100%;
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-um{
    font-size: 50px;
    width: 100%;
    max-width: 750px;
    margin-bottom: 12px;
}

.sub-titulo{
    font-size: 30px;
    width: 100%;
    max-width: 832px;
    margin-bottom: 50px;
    font-weight: 100px;
}

.botao-central{
    background-color: #000;
    color: #fff;
    padding: 15px 50px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px black;
    position: relative;
    top: 50px;

    text-decoration: none;
}

.botao-central:hover{
    background-color: rgb(26, 25, 25);

}

/* botão wpp */
@keyframes btn-cta {
    0%{
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    50%{
        position: fixed;
        bottom: 60px;
        right: 50px;
    }

    100%{
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
}

.btn-wpp img{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    animation-name: btn-cta;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 1;
    cursor: pointer;
}

/* bloco 2 */
.bloco2{
    background-color: #000;
    width: 100%;
    color: #fff;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    width: 100%;
    height: 50vh;
}

.titulo-h2{
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
}

.bloco2 p{
    width: 80%;
    margin: 20px auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

/* Depoimentos */
.depoimentos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.container-card{
    width: 85%;
    margin: 5em 8em 5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

}

.card{
    width: 80vw;
    height: 50vh;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 10px 0;

}

.card img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    border: 5px solid var(--corDestaque);
}

.card p{
    width: 270px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
}

/* Footer */
footer{
    background-color: var(--corDestaque);
    width: 100vw;
    height: 80vh;
}

.center{
    width: 85%;
    margin: 0 auto;
    padding: 3% 3%;
}

#logo{
    margin-top: 1em;
    margin-right: 57em;
}

.container-footer{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 4em;
    
}

.container-footer h2{
    font-size: 15px;
    margin-bottom: 25px;
}

.mapa{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 0 0 12px 0;
}

.links li, .midias li, .area-restrita li{
    margin: 5px;
    list-style-type: none;
}

.links{
    margin-left: 50px;
    
}

.links a, .area-restrita a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
}


.midias{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.midias ul{
    display: flex;
    margin-top: -30px;
}

.midias a{
    font-size: 40px;
    color: #000;
}

.midias h2{
    margin-left: -48px;
}

.area-restrita{
    margin-left: 50px;
}
