@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-bg-footer: #F6C34A;
    --color-text-footer: #0E0E0E;

    --transition: all 400ms ease-in-out;

    --container-width-lg: 90vw;
    --container-width-md: 85vw;
    --container-width-sm: 90vw;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 100vw;
    font-family: 'Poppins';
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

/*======================================GERAL============================================== */
figure,
figure img {
    width: 100%;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding: 3rem 0;
}

.container .title {
    text-align: center;
    font-weight: 700;
}

/* Botões pretos */
.cta_btn {
    background-color: var(--color-text-footer);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    color: #fbfbfb;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    transition: var(--transition);
}

.cta_btn:hover {
    transform: scale(1.2);
}

/* Botão Whatsapp */
#cta_wpp {
    position: fixed;
    width: 3%;
    right: 3%;
    top: 70vh;
    transition: var(--transition);
}

#cta_wpp:hover {
    transform: scale(1.2);
}

/* HEADER */
#header {
    position: fixed;
    background-color: white;
    width: 100vw;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 8vh;
}

#header .container figure {
    width: 15%;
}

#header .container ul {
    height: 8vh;
    display: flex;
    gap: .1rem;
}

#header .container ul li {
    transition: var(--transition);
    height: 100%;
}

#header .container ul li:hover {
    background-color: #F6C34A;
}

#header .container ul li a {
    font-family: 'Poppins';
    font-weight: 700;
    transition: var(--transition);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

#header .container ul li a:hover {
    color: white;
}

/* MENU ATIVO */
.active_header {
    background-color: #F6C34A;
    color: white !important;
}

/* EFEITOS DOS CARDS */
.gallery .card {
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: default;
}

.gallery .card:hover {
    border-color: black;
    background-color: #f5f5f5 !important;
}

/* FOOTER */
#footer {
    background-color: var(--color-bg-footer);
}

#footer .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer .container figure {
    width: 15%;
}

#footer .container .menu {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

#footer .container .menu a {
    color: black;
    transition: var(--transition);
}

#footer .container .menu a:hover {
    color: gray;
}

#footer .container .menu .text-color-weak {
    color: var(--color-text-footer);
    font-weight: 400;
}

#footer .container .menu .endereco,
#footer .container .menu .links,
#footer .container .menu .redes-sociais,
#footer .container .menu .area-restrita {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer .container .menu .redes-sociais {
    text-align: center;
}

#footer .container .menu .redes-sociais div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#footer .container .menu .redes-sociais div figure {
    text-align: center;
}

#footer .container .menu .redes-sociais div figure a img {
    transition: var(--transition);
}

#footer .container .menu .redes-sociais div figure a img:hover {
    filter: invert(55%) sepia(0%) saturate(1367%) hue-rotate(171deg) brightness(92%) contrast(77%);
}

#footer .container .menu .endereco .mapouter .gmap_canvas {
    transform: translateY(0px);
    border-radius: 10px;
}

/*======================================HOME============================================== */
#home .top {
    background: url('../assets/background-hero.png'), #F6C34A no-repeat center center;
    background-size: cover;
    height: 90vh;
}

#home .top .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#home .top .container div .title {
    font-size: 2.5rem;
}

#home .container div .subtitle {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}

#home .top #cta_wpp {
    top: 80vh;
}

#home .middle,
#home .bottom {
    background-color: #0E0E0E;
    color: white;
}

#home .middle .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#home .middle .container p {
    font-family: 'Open Sans';
    font-size: .9rem;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}

#home .bottom .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home .bottom .container .gallery {
    display: flex;
    gap: 2rem;
}

#home .bottom .container .gallery .card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 7px;
}

#home .bottom .container .gallery .card figure {
    text-align: center;
}

#home .bottom .container .gallery .card figure img {
    width: 40%;
}

#home .bottom .container .gallery .card p {
    color: #0E0E0E;
    margin: 0 auto;
}

/*======================================CURSOS============================================== */
#cursos .top {
    background: #F6C34A no-repeat center center;
    background-size: cover;
    height: 90vh;
}

#cursos .top .container {
    padding-top: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#cursos .top .container .gallery {
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
}

#cursos .top .container .gallery .card {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#cursos .top .container .gallery .card .title {
    font-weight: 700;
}

#cursos .top .container .gallery .card p {
    font-weight: 400;
}

#cursos .top .container figure {
    position: fixed;
    width: 3%;
    right: 3%;
    top: 80vh;
}

#cursos .bottom {
    background-color: #0E0E0E;
}

#cursos .bottom .container {
    padding: 10rem 0;
}

#cursos .bottom .container .gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#cursos .bottom .container .gallery .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 7px;
    width: 70%;
}

#cursos .bottom .container .gallery .card .title {
    color: black;
    font-size: 34px;
}

#cursos .bottom .container .gallery .card .center,
#cursos .bottom .container .gallery .card .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cursos .bottom .container .gallery .card .center h5,
#cursos .bottom .container .gallery .card .right h5 {
    font-size: 24px;
    font-weight: 700;
}

/*======================================CONTATO============================================== */
#contato {
    background-color: #0E0E0E;
}

#contato .container {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

#contato .container form {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    padding: 2rem;
}

#contato .container form .title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 2rem;
}

#contato .container form label {
    font-weight: 700;
}

#contato .container form input,
#contato .container form textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: .4rem .2rem;
    width: 100%;
    margin-bottom: 1rem;
}

#contato .container form button {
    width: 100%;
    text-align: center;
    background-color: #F6C34A;
    border-radius: 7px;
    padding: 1rem 0;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
    border: 1px solid transparent;
}

#contato .container form button:hover {
    border-color: #F6C34A;
    background-color: #f8ce6a;
}

#contato #cta_wpp {
    top: 80vh;
}

/*======================================ADM============================================== */
.active {
    color: white !important;
}

#adm {
    display: flex;
    padding-top: 3rem;
}

#adm section #matricula,
#adm section #financeiroalunos {
    display: none;
}

#adm nav {
    background-color: #0E0E0E;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 20vw;
}

#adm nav .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#adm nav .container li {
    display: flex;
    justify-content: center;
}

#adm nav .container li button {
    color: #707070;
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0 auto;
    text-align: left;
    width: fit-content;
}

#adm section {
    border-bottom: 1px solid black;
    background-color: #F6C34A;
    width: 100%;
}

#adm #btn {
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm #btn:hover {
    border-color: black;
    background-color: #4a4a4a;
}

/* TURMAS */
#adm section #turmas .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding: 3rem 2rem;
}

#adm section #turmas .container .top {
    width: 100%;
    display: flex;
    justify-content: center;
}

#adm section #turmas .container .top input {
    padding: .5rem 1rem;
    width: 20%;
    margin-right: -.2rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm section #turmas .container .top input:focus {
    border-color: black;
    width: 30%;
}

#adm section #turmas .container .gallery {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}

#adm section #turmas .container .gallery .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 10px;
}

#adm section #turmas .container .gallery .card .body {
    font-family: 'Open Sans';
}

#adm section #turmas .container .gallery .card .body p {
    text-align: left;

}

#adm section #turmas .container .gallery .card .body p span {
    font-weight: bold;
}

/* MATRICULA */
#adm section #matricula .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
}

#adm section #matricula .container .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#adm section #matricula .container .left .title {
    text-align: left;
}

#adm section #matricula .container .left form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#adm section #matricula .container .left form label {
    font-weight: bold;
    margin-bottom: -1rem;
    text-transform: capitalize;
}

#adm section #matricula .container .left form label span {
    color: red;
}

#adm section #matricula .container .left form input {
    width: 60%;
    border-radius: 3px;
    padding: .3rem .2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm section #matricula .container .left input:focus {
    border-color: black;
}

#adm section #matricula .container .left form #btn {
    border-radius: 3px;
    width: 60%;
}

#adm section #matricula .container .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
}

#adm section #matricula .container .right .top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#adm section #matricula .container .right .top figure {
    width: 10%;
}

#adm section #matricula .container .right .bottom p {
    text-transform: capitalize;
}

#adm section #matricula .container .right .bottom p span {
    font-weight: bold;
}

/* FINANCEIRO ALUNO */
#adm section #financeiroalunos #lista_cursos {
    position: absolute;
    width: 40vw;
    background-color: #dea31a;
    border-radius: 10px;
    left: 52%;
    top: 15%;
    transition: var(--transition);
    display: none;
    flex-direction: column;
    align-items: center;
}

#adm section #financeiroalunos #lista_cursos .close {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: .5rem;
}

#adm section #financeiroalunos #lista_cursos .title {
    margin-bottom: 1rem;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body {
    padding: 0 1rem;
    width: 100%;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .top p {
    width: 40%;
    text-align: left;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: white;
    font-weight: 300;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .body p {
    width: 40%;
    text-align: left;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .body button {
    background-color: lightgreen;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .2rem 1rem;
    border-radius: 5px;
    transition: var(--transition);
    font-size: 1.1rem;
    color: white;
}

#adm section #financeiroalunos #lista_cursos #lista_cursos_body .body button:hover {
    background-color: transparent;
    border-color: lightgreen;
}

#adm section #financeiroalunos .container {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#adm section #financeiroalunos .container .title {
    text-align: left;
}

#adm section #financeiroalunos .container .left,
#adm section #financeiroalunos .container .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#adm section #financeiroalunos .container .left label,
#adm section #financeiroalunos .container .right label {
    font-weight: 700;
}

#adm section #financeiroalunos .container .left input,
#adm section #financeiroalunos .container .right input {
    width: 50%;
    border-radius: 3px;
    padding: .3rem .2rem;
    margin-top: -.8rem;
}

#adm section #financeiroalunos .container .left #btn,
#adm section #financeiroalunos .container .right #btn {
    width: 50%;
    padding: .7rem 0;
    border-radius: 3px;
}

#adm section #financeiroalunos .container .left {
    width: 70%;
}

#adm section #financeiroalunos .container .left p {
    font-weight: 700;
}

#adm section #financeiroalunos .container .left #buscaCurso {
    width: 50%;
    background-color: white;
    height: 3.5vh;
    margin-top: -.8rem;
    border-radius: 3px;
    padding: 0 .3rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm section #financeiroalunos .container .left #buscaCurso:hover {
    border-color: black;
}

#adm section #financeiroalunos .container .left #buscaCurso .show_curso {
    padding: 0 .3rem;
    border-radius: 5px;
    border: 1px dashed black;
    font-size: .7rem;
    display: flex;
    align-items: center;
    gap: .4rem;
}

#adm section #financeiroalunos .container .left #buscaCurso .show_curso p {
    font-weight: 400;
}

#adm section #financeiroalunos .container .left #buscaCurso .show_curso img {
    cursor: pointer;
}

#adm section #financeiroalunos .container .left .addCurso {
    width: 50%;
    background-color: transparent;
    margin-top: -.5rem;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}

#adm section #financeiroalunos .container .left input {
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm section #financeiroalunos .container .left input:focus {
    border-color: black;
}

#adm section #financeiroalunos .container .left #curso_valor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 70%;
}

#adm section #financeiroalunos .container .left #curso_valor .text {
    font-weight: 400;
}

#adm section #financeiroalunos .container .right {
    width: 60%;
}

#adm section #financeiroalunos .container .right input {
    border: 1px solid transparent;
    transition: var(--transition);
}

#adm section #financeiroalunos .container .right input:focus {
    border-color: black;
}

#adm section #financeiroalunos .container .right #relatorio-msg {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: 3rem;
}

#adm section #financeiroalunos .container .right #relatorio-msg p span {
    font-weight: bold;
}